.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  border-bottom: 1px solid gainsboro;
  padding: 0 8px;
  background-color: white;
  width: 100%;
}

.trackInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 4px 8px;
}

.name {
  font-size: 18px;
}

.artist {
  font-size: 16px;
}
